# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd
# Eclipse metadata
.metadata/

# Eclipse files
.project
.classpath
.settings/

# Build folders
target/
# IDE
.idea/
.project
.classpath
.settings/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# STS
.sts4-cache

# Node
node_modules/

# Ignore service level git files
**/.gitignore
**/.gitattributes